
/* sets font size and family for entire site */
html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* sets width of site content */
.container {
    margin: 10px;
}

/* formats site header with colour, background colour, alignment and padding */
h1 {
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 10px;
}

/* formats image width, floats it to the left, and sets margins */
img {
    width: 100%;
    max-width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* sets the line height of the paragraphs */
p {
    line-height: 25px;
}

/* formats descriptive list with background colour, font colour, and spacing, while clearing the above float */
dl {
   clear: both; 
   background-color: firebrick;
   color: white;
   padding: 10px;
   margin-top: 10px;
}

/* formats descriptive term by increasing font size by 1.15% and increases font weight to bold */
dt {
    font-size: 1.15rem;
    font-weight: bold;
}

/* formats descriptive definition by setting line height and spacing  */
dd {
    line-height: 25px;
    margin: 0;
    padding: 0;
}